@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap");
body {
  background-image: url("@/assets/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Fredoka", sans-serif;
}

html {
  height: 100%;
}
